appdirs==1.4.3
attrs==18.1.0
black==18.6b4
click==6.7
decorator==4.3.0
ipython==4.2.1
ipython-genutils==0.2.0
Jinja2==2.10
MarkupSafe==1.0
mypy==0.620
pexpect==4.6.0
pickleshare==0.7.4
psycopg2==2.7.5
ptyprocess==0.6.0
simplegeneric==0.8.1
six==1.11.0
toml==0.9.4
traitlets==4.3.2
typed-ast==1.1.0
