appdirs==1.4.3
atomicwrites==1.1.5
attrs==18.1.0
black==18.6b4
click==6.7
decorator==4.3.0
ipython==4.2.1
ipython-genutils==0.2.0
isort==4.3.4
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
mypy==0.620
path.py==11.0.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pluggy==0.7.1
psycopg2==2.7.5
ptyprocess==0.6.0
py==1.5.4
pyflakes==2.0.0
pytest==3.7.1
pytz==2018.5
PyYAML==3.13
simplegeneric==0.8.1
six==1.11.0
toml==0.9.4
traitlets==4.3.2
typed-ast==1.1.0
